@model DixonsCarphone.Wfm.Web.ViewModels.Models.WidgetsAndControls

@Html.HiddenFor(x => x.PathToPartial)
@Html.HiddenFor(x => x.Name)
@Html.HiddenFor(x => x.OwnRow)
<div>
    @Html.CheckBoxFor(x => x.ShowOnUi)
    @Html.LabelFor(x => x.ShowOnUi, Model.Name)
</div>
